<%= form_with(model: mission, local: true) do |form| %>
  <% if mission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mission.errors.count, "error") %> prohibited this mission from being saved:</h2>

      <ul>
      <% mission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :mission_name %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :mission_body %>
  </div>

<div class="field">
    <%= form.label :benevole_id %>
    <%= form.text_area :benevole_id, id: :mission_benevole_id %>
  </div>    

  <div class="field">
    <%= form.label :etablissement_id %>
    <%= form.text_area :etablissement_id, id: :mission_etablissement_id %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
