<%= form_with(model: etablissement, local: true) do |form| %>
  <% if etablissement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(etablissement.errors.count, "error") %> prohibited this etablissement from being saved:</h2>

      <ul>
      <% etablissement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :etablissement_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :etablissement_address %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.number_field :zip, id: :etablissement_zip %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :etablissement_city %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :etablissement_type %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :etablissement_email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone, id: :etablissement_phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
