<%= form_with(model: benevole, local: true) do |form| %>
  <% if benevole.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(benevole.errors.count, "error") %> prohibited this benevole from being saved:</h2>

      <ul>
      <% benevole.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, id: :benevole_firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :benevole_lastname %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday, id: :benevole_birthday %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :benevole_address %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.number_field :zip, id: :benevole_zip %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :benevole_city %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :benevole_gender %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :benevole_email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone, id: :benevole_phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
