<p id="notice"><%= notice %></p>

<p>
  <strong>Object:
  <%= @email.object %></strong>
</p>

<p>
  <normal>Body:</normal>
  <%= @email.body %>
</p>


<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', root_path %> |
<%= link_to 'Destroy', email_path, method: :delete, data: { confirm: 'Are you sure?' } %>
